/**
 * Project: MTG- Styleguide
 * Author: Mark van den Corput // @markvdcorput
 */

/**
 * Defaults
 */

* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    background: #eaf0f5;
}

body {
    background: #eaf0f5;
    color: #333333;
    font-size: 100%;
    font-family: "Arial", sans-serif;
    padding: 0 1.5em 3em 1.5em;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background: #2ddff5;
    color: #333333;
}

::-moz-selection {
    background: #2ddff5;
    color: #333333;
}

/**
 * Structure
 */

.wrapper {
    max-width: 70em;
    margin: 0 auto;
}

/**
 * Typography
 */

p {
    font-size: 1em;
    line-height: 1.4em;
}

h1,
.alpha {
    font-family: 'Alegreya', serif;
    font-size: 3em;
    display: inline-block;
    margin: 0.5em -0.25em 0.5em 0;
}

h1 a:hover,
.alpha a:hover {
    text-decoration: none;
}

h2,
.beta {
    font-family: 'Alegreya', serif;
    font-size: 2em;
    display: inline-block;
    margin: 0.5em -0.25em 0.5em 0;
}

h2 a:hover,
.beta a:hover {
    text-decoration: none;
}

h3,
.gamma {
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    display: inline-block;
    margin: 0.5em -0.25em 0.5em 0;
}

h3 a:hover,
.gamma a:hover {
    text-decoration: none;
}

/**
 * Forms
 */

input[type=text]{
    border-radius: 3px;
    border: none;
    width: 100%;
    box-shadow: none;
    padding: 0.5em;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

input[type=text]:focus{
    outline: 0;
    background: #a0e8ff;
}

/**
 * Lists
 */

.list-title {
    padding-left: 1em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 46em;
}

.list li {
    padding: 1.25em;
    background: #ffffff;
    border: 1px solid #888380;
    border-radius: 5px;
    margin: 0 0 1em 0;
}

/**
 * Overview item
 */

.overview-item .header {
    margin: 0 0 0.5em 0;
}

.overview-item .imageholder {
    display: inline-block;
    vertical-align: top;
    padding: 0 1em 0 0;
    margin: 0 -0.25em 0 0;
    width: 28%;
}

.overview-item .imageholder img {
    max-width: 100%;
}

.overview-item .content {
    display: inline-block;
    vertical-align: top;
    margin: 0 -0.25em 0 0;
    width: 72%
}

.overview-item .beta {
    margin: 0 0.3em 0 0;
}

/**
 * Item types
 */

.mana-cost {
    display: inline-block;
    margin: 0 0 -0.25em 0;
}

.mana-cost span {
    font-weight: bold;
    font-size: 1.25em;
}

.types {
    display: inline-block;
    margin: 0 0.3em 0 0;
}

.types .seperator {
    margin: 0 0.3em;
}

.power-toughness {
    font-weight: bold;
    font-size: 1.25em;
}

/**
 * Search
 */
 
.search {
    background: #333333;
    border-radius: 5px;
    padding: 1.25em;
    margin: 0 0 0.8em 0;
    position: relative;
    max-width: 34em;
}

.search .icon-search {
    background: none;
    border: none;
    position: absolute;
    top: 1.7em;
    right: 1.2em;
    color: #333333;
}