$background: #eaf0f5 !default;

// Colors

$linkColor: #ff6600 !default;
$linkColorHover: darken(#ff6600, 10%) !default;
$selectionColor: #2ddff5 !default;
$borderColor: #888380 !default;

$black: #333333 !default;
$white: #ffffff !default;

// Typography

$customSerif: "Alegreya", "Georgia" serif !default;