// Background

$backgroundColor: #990000 !default;
$backgroundImage: url('http://company.wizards.com/sites/default/files/AVR_1_1920x1080_Wallpaper_s412m0imfi.jpg') !default;

// Colors

$linkColor: #ff6600 !default;
$linkColorHover: darken(#ff6600, 10%) !default;
$selectionColor: #2ddff5 !default;
$borderColor: #888380 !default;

$black: #333333 !default;
$white: #ffffff !default;

// Typography

$customSerif: "Alegreya", "Georgia" serif !default;

// Structure

$maxWidth: 60em;